@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: Poppins;
    font-size:small;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  